i.bi.bi-x-circle,
i.bi.bi-plus-circle {
    font-size: xx-large;
}

.alert {
    opacity: 1;
    transition-duration: 500ms;
    transition-property: opacity;
}

@media (min-width: 768px) {

    .form-select.repository,
    .form-select.branch {
        max-width: 500px;
    }
}