html {
    scrollbar-gutter: stable;
}

body {
    font-size: 14px;
    font-family: 'Aptos', 'Calibri', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 300px;
    min-width: 300px;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 0.25rem;

    color: #636c76;
    font-size: 12px;
}

.author img {
    width: 16px;
    height: 16px;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
}

.author a {
    color: #636c76;
    text-decoration: none;
}

.author .committed-by {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.commit-item {
    border: 1px solid #d0d7deb3;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 10px;
}

.commit-item:last-child {
    margin-bottom: 0;
}

.commit .commit-message {
    color: #1f2328;
    cursor: pointer;
    font-weight: 600;
}

.octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.branch {
    border: 1px solid #EEEEEE;
    border-radius: 6px;
    font-size: 12px;
    padding: 2px 6px;
    background-color: #EEEEEE;
}

.last-updated {
    font-size: 10px;
    text-align: center;
    color: gray;
    display: none;
}